.App {
    text-align: center;
    display: flex;
    justify-content: center;
}

.style_form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.style_radio{
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin-left: 10px;
}
input + label{
    margin-left:20px;
}
.style_form input,.style_form select  {
    border: 1px solid #bfbfbf;
    padding: 8px 10px;
    border-radius: 5px;
    margin: 10px 0 0 0;
}

.container {
    max-width: 1190px;
    margin: auto;
}

.box {
    width: 500px;
    margin: 50px auto;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    padding: 20px;
}

 .button {
    outline: none;
    border: none;
    background-color: blueviolet;
    color: white;
    padding: 8px 25px;
    border-radius: 5px;
    cursor: pointer;
}
.box button{
    margin-left: 10px;
    padding: 8px 25px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cccc;
}
.error {
    color: red;
}